/* header and nav */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    z-index: 1000;
    transition: background-color .4s;
    box-shadow: .4s;

}

.nav{
    position: relative;
    height: 3.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    background-color: #946d61;
}

.nav__logo{
    display: flex;
    align-items: center;
    column-gap: .25rem;
    text-decoration: none;
}

.nav__logo i{
    font-size: 1.5rem;
    color: white;
    transition: color .4s;
    
}

.nav__logo span{
    font-weight: bold;
   color: white;
    transition: color .4s;
   
}

.nav_list{
    display: flex;
    align-items: center;
    column-gap: 1.7rem;
    list-style: none;
    color:white;
}

.nav_link{
    color: white;
    transition: color .4s;
    text-decoration: none;
}

.change-theme{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color .4s;
}

.nav__toggle{
    display: flex;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: transform .4s;
}

/* home section */

.home__container{
    padding-block: 1.5rem;
    row-gap: 3rem;
}
.home__data{
    text-align: center;
    display: grid;
    row-gap: 3rem;
}

.home__title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .5rem;
    color: var(--text-color);
}
.home__description{
    font-size: 1rem;
    color: var(--text-color-light);
    margin-bottom: 1rem;
}
.home__social{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.home__social-link{
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    box-shadow: var(--shadow-small);
    border-radius: .75rem;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    color: blue;
    text-decoration: none;
    transition: background-color .4s, box-shadow .4s, color .4s

}

.home__social-link:hover{
    background-color: rgb(225, 225, 112);
    box-shadow: var(--shadow-first-color);
    color: rgb(192, 22, 22);
}


/* button */
.button{
    display: inline-flex;
    background-color: rgb(212, 172, 26);
    color: var(--button-text-color);
    padding: .75rem 1.25rem;
    border-radius: .75rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    text-decoration: none;
    transition: background-color .4s, box-shadow .4s, color .4s;
}

.home__img{
    width: 100%;
    height: 50%;
}




/* Navigation for mobile */


@media  screen and (max-width:1150px) {
    .nav_menu{
        position: fixed;
        top: 5rem;
        left: -200%;
        right: 0;
        margin: 0 auto;
        width: 60%;
        box-shadow: var(--shadow-big);
        background-color: var(--background-color);
        padding: 3.5rem;
        border-radius: 3rem;
        border: 3px solid yellowgreen;
        transition: left .4s,background-color .4s, box-shadow .4s;
    }

    .nav_list{
        text-align: center;
        display:flex;
        flex-direction: column;
        row-gap: 1rem;
        
    }

    .nav_link{
        color: black;
        font-weight: 700;
        transition: color .4s;
        text-decoration: none;
    }

    .nav_link:hover{
        color: var(--primary-color);
    }

    .nav__toggle{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .change-theme{
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.25rem;
        color: rgba(0, 0, 0, 0.68);
        cursor: pointer;
    }

    /* show menu */

    .show_menu{
        left:0;
    }

    .show_menu + .nav__toggle{
        transform: rotate(90deg);
    }
}

/* Break points */
/* for small devices */

@media screen and (max-width: 350px) {
    .container{
       margin-inline: 1rem;
    }
}

@media screen and (min-width:540px) {
    .nav_menu{
        width: 50%;
    }
    
}

/* for large devices */
@media screen and (min-width:1150px) {
    .container{
        margin-inline: auto;
    }

    .nav__toggle{
        display: none;  
    }

    .nav_list{
        flex-direction: row;
        column-gap: 4rem;
    }

    .change-theme{
        position: initial;
        font-size: 1.5rem;
    }

    .nav_menu{
        width: initial;
        display: flex;
        column-gap: 4rem;
        justify-content: space-evenly;
        align-items: center;
    }
    
}




