/* header and nav */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    z-index: 1000;
    transition: background-color .4s;
    box-shadow: .4s;

}

.nav{
    position: relative;
    height: 3.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    background-color: #946d61;
}

.nav__logo{
    display: flex;
    align-items: center;
    column-gap: .25rem;
    text-decoration: none;
}

.nav__logo i{
    font-size: 1.5rem;
    color: white;
    transition: color .4s;
    
}

.nav__logo span{
    font-weight: bold;
   color: white;
    transition: color .4s;
   
}

.nav_list{
    display: flex;
    align-items: center;
    column-gap: 1.7rem;
    list-style: none;
    color:white;
}

.nav_link{
    color: white;
    transition: color .4s;
    text-decoration: none;
}

.change-theme{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color .4s;
}

.nav__toggle{
    display: flex;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: transform .4s;
}

/* home section */

.home__container{
    padding-block: 1.5rem;
}
.home__data{
    text-align: center;
    display: grid;
    row-gap: 1.5rem;
}

.home__title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: .5rem;
    color: var(--text-color);
}
.home__description{
    font-size: 1rem;
    color: var(--text-color-light);
    margin-bottom: 1rem;
}
.home__social{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.home__social-link{
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    box-shadow: var(--shadow-small);
    border-radius: .75rem;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    color: blue;
    text-decoration: none;
    transition: background-color .4s, box-shadow .4s, color .4s

}

.home__social-link:hover{
    background-color: rgb(225, 225, 112);
    box-shadow: var(--shadow-first-color);
    color: rgb(192, 22, 22);
}

.home__image{
    position: relative;
    width: 320px;
    height: 320px;
    justify-self: center;
   margin-top: 4rem;
}

.home__img{
    width: 230px;
    position: absolute;
   bottom: 0;
    right: 0;
    left: 0;
    border-radius: 4rem;
    margin: 0 auto;
    mask-image: linear-gradient(var(--first-color) 80%, transparent 95%);
    filter: var(--shadow-img-big);

}

.home_phone{
    position: absolute;
    top: 8rem;
    left:1rem;
    background-color: aliceblue;
    box-shadow: var(--shadow-small);
    padding: .5rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    transition: background-color .4s, box-shadow .4s;
}


.home_icon{
    display: grid;
    font-size: 1.5rem;
    background-color: rgb(219, 161, 36);
    border-radius: .5rem;
}


.home_number span{ 
    display: block;
    margin-top: .25rem;
}

.home_comment{
    position: absolute;
   right: -2rem;
    bottom: -4.5rem;
    width: 200px;
    background-color: rgb(235, 220, 220);
    box-shadow: var(--shadow-small);
    padding: 1.5rem 2.5rem;
    border-radius: 2.5rem;
    display: flex;
    text-align: center;
    color: black;
    transition: background-color .4s;
}

.home_coment::before
{
    content: open-quote;
    position: absolute;
    top:1rem;
    left:1rem;
}

.home_coment::before,
.home_coment::after{
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-family: serif;
}
/* button */
.button{
    display: inline-flex;
    background-color: rgb(212, 172, 26);
    color: var(--button-text-color);
    padding: .75rem 1.25rem;
    border-radius: .75rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    text-decoration: none;
    transition: background-color .4s, box-shadow .4s, color .4s;
}






/* Navigation for mobile */


@media  screen and (max-width:1150px) {
    .nav_menu{
        position: fixed;
        top: 5rem;
        left: -210%;
        right: 0;
        margin: 0 auto;
        width: 50%;
        box-shadow: var(--shadow-big);
        background-color: rgb(88, 92, 94);
        padding: 3.5rem;
        border-radius: 3rem;
        border: 3px solid yellowgreen;
        transition: left .4s,background-color .4s, box-shadow .4s;
    }

    .nav_list{
        text-align: center;
        display:flex;
        flex-direction: column;
        row-gap: 1rem;
        
    }

    .nav_link{
        color: white;
        font-weight: 700;
        transition: color .4s;
        text-decoration: none;
    }

    .nav_link:hover{
        color: var(--primary-color);
    }

    .nav__toggle{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .change-theme{
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.25rem;
        color: white;
        cursor: pointer;
    }

    .section{
        padding-block: 5rem 2rem;
    }
    .section__title,.section_subtitle{
        text-align: center;
    }

    .section__title{
        font-size: 2rem;
        margin-bottom: .5rem;
    }

    .section_subtitle{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    
    /* show menu */

    .show_menu{
        left:0;
    }

    .show_menu + .nav__toggle{
        transform: rotate(90deg);
    }

    /* services */

    .services__container{
        grid-template-columns: 250px;
        justify-content: center;
        row-gap: 2rem;
    }

    .services__card{
        text-align: center;
        padding: 2rem 1.5rem;
    }

    .services__title{
        margin: .5rem 0;
        font-size: larger;
    }
    .services__img{
        width: 200px;
        height: 200px;
        border-radius: 2rem;
    }
}

/* Break points */
/* for small devices */

@media screen and (min-width: 300px) {
    .container{
       margin-inline: 1rem;
    }

    .home__image{
        width:100%
    }

    .section__title{
        font-size: 2rem;
        margin-bottom: 1rem;
        color: rgb(243, 205, 32);
    }
.section{
    padding-block: 0rem 2rem;
    
}
     .menu{
        margin-top: -8rem;
     }

    .services__container{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 4rem;
        text-align: center;
    }

      .services__card{
        
    background-color: rgb(250, 250, 250);
    padding: 2rem 1.5rem;
    border-radius: 2rem;
    box-shadow: var(--shadow-small);
    text-align: center;
    margin-inline: auto;
    }

      .services__price{
        font-size: 1.15rem;
        color: #dc8408;
     }
}

@media screen and (min-width:540px) {
    .nav_menu{
        width: 50%;
    }

    .home__container{
        grid-template-columns: 380px;
        justify-content: center;
    }
    .section__title{
        font-size: 2rem;
        margin-bottom: 1rem;
        color: rgb(243, 205, 32);
    }

     .services__description{
    margin-top: 1rem;
    color: var(--text-color-light);
    width: 80%;
    margin-inline: auto;
}

.services__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;
        row-gap: 4rem;
        text-align: center;

    }

    .services__price{
        font-size: 1.45rem;
        color: #dc8408;
     }

}

/* for medium devices */
@media screen and (min-width:768px) {

    .services__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4rem;
        row-gap: 4rem;

    }

    .section__title{
        font-size: 2rem;
        margin-bottom: 1rem;
        color: rgb(243, 205, 32);
    }
    .services__description{
    margin-top: 1rem;
    color: var(--text-color-light);
    width: 80%;
    margin-inline: auto;
}
    
}

/* for large devices */
@media screen and (min-width:1150px) {
    .container{
        margin-inline: auto;
    }

    .section{
        padding-block: 0rem 2rem;
    }
    .nav__toggle{
        display: none;  
    }

    .nav_list{
        flex-direction: row;
        column-gap: 4rem;
    }

    .change-theme{
        position: initial;
        font-size: 1.5rem;
    }

    .nav_menu{
        width: initial;
        display: flex;
        column-gap: 4rem;
        justify-content: space-evenly;
        align-items: center;
    }
    .home__container{
        display: grid;
        grid-template-columns: 500px 520px;
        align-items: center;
      column-gap:5rem;
      padding-block: 4rem;
    }
    .home__data{
        text-align: initial;
    row-gap: 3rem;
}

.home__title{
    margin-bottom: 1rem;

}
.home__description{
    font-size: 1.25rem;
    margin-bottom: 2rem;

}

.home__social{
    justify-content: initial;
}

.home__image{
    width: 320px;
    height: 320px;
    border-radius: 11rem;
}


.services__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        text-align: center;
        column-gap: 4rem;
        row-gap: 4rem;
    }
    .services__card{
        position: relative;
        display: grid;
        row-gap: .5rem;
        background-color: rgb(250, 250, 250);
        padding: 2rem 1.5rem;
        border-radius: 2rem;
        box-shadow: var(--shadow-small);
        
    }


    .services__img{

        width: 350px;
        height: 300px;
        border-radius: 3rem;
    
    }

    .section__title,.section_subtitle{
        text-align: center;
    }

    .section__title{
        font-size: 2rem;
        margin-bottom: 5rem;
        color: rgb(243, 205, 32);
    }

    .section_subtitle{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
.services__description{
    margin-top: 1rem;
    color: var(--text-color-light);
    width: 80%;
    margin-inline: auto;
}

.services__price{
        font-size: 1.75rem;
        color: #dc8408;
     }
}
